<h1>Welcome</h1>
<nav>
  <a routerLink="/products" routerLinkActive="active" class="btn btn-success">Products</a>
  <a routerLink="/users" routerLinkActive="active" class="btn btn-success">Users</a>
</nav>
<router-outlet></router-outlet>